
@{
    ViewData["Title"] = "MyHomeworks";
}

    <h3>Ödevler</h3>

<div class="col-md-11">
    <div id="progress"></div>

    <table class="table table-striped " id="tbExams">
        <thead class="bg-dark">
            <tr>
                <th class="text-white">ID</th>
                <th class="text-white">Sınıf İsmi</th>
                <th class="text-white">Ders İsmi</th>
                <th class="text-white">Ödev Başlığı</th>
                <th class="text-white">Son Teslim Tarihi</th>
                <th class="text-white">Düzenle</th>
                <th class="text-white">Sil</th>

            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>