
@{
    ViewData["Title"] = "ShowHomework";
}



<div class="container mt-5">
    <h1 class="mb-4">Ödev Görüntüleme</h1>
    <hr />
    <form id="homeworkForm">
        
        <div class="mb-3">
            <label for="class" class="form-label">Ödev Başlığı:</label>
            <input type="text" readonly="readonly" id="addHomeworkTeacherClasses" name="class" class="form-control">
        </div>
        
        <div class="mb-3">
            <label for="subject" class="form-label">Ders:</label>
            <input id="subject" readonly="readonly" name="subject" class="form-control"> 
        </div>

        <div class="mb-3">
            <label for="title" class="form-label">Ödev Başlığı:</label>
            <input type="text" readonly="readonly" id="title" name="title" class="form-control">
        </div>

        <div class="mb-3">
            <label for="content" class="form-label">Ödev İçeriği:</label>
            <textarea id="content" readonly="readonly" name="content" class="form-control" rows="4"></textarea>
        </div>

         <div class="mb-3">
        <label for="creatingDate" class="form-label">Oluşturulma Tarihi:</label>
            <input type="date" id="creatingDate" readonly="readonly" name="creatingDate" class="form-control">
        </div>

        <div class="mb-3">
        <label for="UpdateDate" class="form-label">Güncellenme Tarihi:</label>
            <input type="date" id="updateDate" readonly="readonly" name="updateDate" class="form-control">
        </div> 

        <div class="mb-3">
            <label for="dueDate" class="form-label">Son Teslim Tarihi:</label>
            <input type="date" id="dueDate" readonly="readonly" name="dueDate" class="form-control">
        </div>

        <a href="#" id="homeworkSubmission" class=" btn btn-primary text-white text-decoration-none">Ödev Teslimi</a>
        <div id="divResult"> </div>
    </form>
</div>
@section Scripts
{
    <script>
        $(document).ready(function () {

            var HomeworkId = "@ViewBag.HomeworkId";
          
         

            if (!token) {
                location.href = '/Home/Login';
            }

            $.ajaxSetup({
                headers: { 'Authorization': 'Bearer ' + token }
            });

            
            $.ajax({
                    url: apiUrl + 'Homeworks/GetById/'+HomeworkId,
                    type: 'GET',
                    success: function (response) {
                    $.ajax({
                        url: apiUrl + 'Lesson/GetById/'+response.lesson_id ,
                        type: 'GET',
                        success: function (data) {
                            var lessonId = data.lesson_id;
                            var lessonName = data.lesson_name;
                            var ClassId = data.class_id;
                            // console.log("get lesson "+lessonId,lessonName,ClassId)
                            $.ajax({
                                url: apiUrl + 'Class/GetById/' + ClassId,
                                type: 'GET',
                                success: function (data2) {
                                    var class_name = data2.class_name;

                                    
                                    //console.log(data2);

                                    $("#addHomeworkTeacherClasses").val(class_name);
                                    $("#subject").val(lessonName);
                                    $("#title").val(response.homework_title);
                                    $("#content").val(response.homework_content);
                                    $("#creatingDate").val(FormatDate(response.created));
                                    $("#updateDate").val(FormatDate(response.updated));
                                    $("#dueDate").val(FormatDate(response.homework_deadline));

                                  


                                },
                                error: function (error) {
                                    $('#divresult').append("Ödev yüklenirken bir hata oluştu.");

                                }
                            });

                        },
                        error: function (error) {
                            $('#divresult').append("Dersler yüklenirken bir hata oluştu.");

                        }
                    });
                      
                    },
                    error: function (error) {
                    $("#divResult")
                        .show()
                        .removeClass()
                        .addClass("alert alert-danger")
                        .html("dersler yüklenirken hata oluştu.")
                        .fadeOut(5000);


                    }

                    
             });
             $("#homeworkSubmission").click(function () {
        
             location.href = '/Homework/AddHomeworkSubmission/' + HomeworkId;
              });
            
            


            function convertToDate(dateString) {
                
                var parts = dateString.split("-");
                var year = parseInt(parts[0], 10);
                var month = parseInt(parts[1], 10) - 1; // Aylar 0-11 arası olduğundan 1 eksiltiyoruz
                var day = parseInt(parts[2], 10);
                cosole.log(new Date(year, mount, day));
                return new Date(year, month, day);
            }
            function FormatDate(d) {
                var date = new Date(d);
                var day = date.getDate() > 9 ? date.getDate() : '0' + date.getDate();
                var mount = date.getMonth() > 9 ? date.getMonth() : '0' + date.getMonth();
                var year = date.getFullYear();

                var hour = date.getHours() > 9 ? date.getHours() : '0' + date.getHours();
                var minute = date.getMinutes() > 9 ? date.getMinutes() : '0' + date.getMinutes();
                var second = date.getSeconds() > 9 ? date.getSeconds() : '0' + date.getSeconds();

                var fd = year + "-" + mount + "-" + day;
                return fd
            }
        });
    </script>
}
