@{
    ViewData["Title"] = "Ödev Dağıtım Portalı";
}




<div class="container-fluid mt-5">
    <h1 id="title" class="text-center mb-4">Ödev Dağıtım Portalına Hoş Geldiniz</h1>
    <hr />
    
    <div class="row text-white">
        <div class="col-md-3 my-2 d-flex  align-items-stretch ">
            <div class="card bg-primary box-shadow rounded-2">

                <div class="card-header h5">Ödev Dağıtım Portalı Nedir ? </div> 
                    <div class="card-body">Ödev Dağıtım Portalı, öğrencilerin ve öğretmenlerin ödev yönetimini kolaylaştırmak için tasarlanmış bir dijital platformdur. Bu portal sayesinde öğretmenler, ödevleri hızlı ve etkili bir şekilde dağıtabilir.

                    </div>
            
            </div>
        </div>

        <div class="col-md-3 my-2 d-flex align-items-stretch">
            <div class="card box-shadow bg-success">
                <div class="card-header h5">Nasıl Kullanılır ?</div>
                <div class="card-body">
                    Portalın kullanımı oldukça basittir. Öğretmenler, ders programlarına uygun olarak ödevler ekleyebilir ve belirli öğrencilere atayabilirler. Öğrenciler ise portal üzerinden ödev detaylarını görebilir, ödevlerini yükleyebilir ve öğretmenlerinden geri bildirim alabilirler.
                </div>
            </div>
        </div>

        <div class="col-md-3 my-2 d-flex align-items-stretch">
            <div class="card bg-info box-shadow">
                <div class="card-header h5">Avantajları Nelerdir ?</div>
                <div class="card-body">

                    Ödev Dağıtım Portalı, zaman yönetimi ve verimlilik açısından büyük avantajlar sunar. Öğretmenler, öğrencilerin ödev performansını anlık olarak izleyebilir ve değerlendirmeler yapabilir. Aynı zamanda, öğrenciler de ödevlerini daha düzenli bir şekilde takip edebilir.

                </div>
            </div>
        </div>

        <div class="col-md-3 my-2 d-flex align-items-stretch">
            <div class="card box-shadow bg-dark">
                <div class="card-header h5">Güvenlik ve Gizlilik</div>
                <div class="card-body">
                    Portal, kullanıcı bilgilerinin güvenliğini en üst düzeyde tutar. Tüm veriler şifrelenir ve sadece yetkili kişiler tarafından erişilebilir hale getirilir. Bu sayede, öğrencilerin ve öğretmenlerin bilgileri güvenli bir ortamda saklanır ve gizlilikleri korunur.
                </div>
            </div>
        </div>
    </div>

</div>



@section Scripts {

    <script>
        if (userRoles.includes("Admin")) {
            location.href = "/Admin/Index";
        }

    </script>

}