@{
    ViewData["Title"] = "Register";
}

<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">

                        <div class="row">
                            <div class="col-lg-3"></div>
                            <div class="col-lg-6">
                                <div class="p-5">


                                


                                        <h2 class="my-2 text-center">Kayıt Ol</h2>
                                        <hr />
                                     
                                       
                                        <div class="card-body text-center">
                                        <h4 class="lead mb-5">Lütfen kayıt türünü seçin</h4>
                                            <div class="d-grid gap-2 d-md-flex justify-content-center m-4">
                                                <a class="btn btn-primary btn-lg " href="~/Home/RegisterStudent">Öğrenci Kayıt</a>
                                                <a class="btn btn-success btn-lg" href="~/Home/RegisterTeacher">Öğretmen Kayıt</a>
                                            </div>
                                        </div>

                                  
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

            </div>

        </div>

    </div>






</body>
</html>
