@{

    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}





<!-- Page Wrapper -->
<div id="wrapper">

    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">
            <h1 class="text-center">Admin Ana Sayfa</h1>
            <hr />
            <br />
            <div class="container-fluid">

                <!-- Admin Satırı -->
                <div class="row justify-content-center">
                    <div class="col-xl-6 col-md-6 mb-4">
                        <div class="card border-left-danger shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                            Admin Sayısı
                                        </div>
                                        <div id="adminCount" class="h5 mb-0 font-weight-bold text-gray-800">
                                            4
                                        </div>


                                    </div>
                                    <div class="col-auto">
                                        <i class="fa fa-users fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Content Row -->
                <div class="row">
                    <!-- Öğrenci Sayısı -->
                    <div class="col-xl-6 col-md-6 mb-4">
                        <div class="card border-left-primary shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                            Öğrenci Sayısı
                                        </div>
                                        <div id="studentCount" class="h5 mb-0 font-weight-bold text-gray-800">16</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Öğretmen Sayısı -->
                    <div class="col-xl-6 col-md-6 mb-4">
                        <div class="card border-left-success shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                            Öğretmen Sayısı
                                        </div>
                                        <div id="teacherCount" class="h5 mb-0 font-weight-bold text-gray-800">4</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <!-- Third Row -->

                <div class="row">

                    <!-- Toplam Ödevler -->
                    <div class="col-xl-6 col-md-6 mb-4">
                        <div class="card border-left-warning shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                            Toplam Ödevler
                                        </div>
                                        <div id="homeworkCount" class="h5 mb-0 font-weight-bold text-gray-800">6</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- Ödev Teslimleri -->
                    <div class="col-xl-6 col-md-6 mb-4">
                        <div class="card border-left-info shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                            Ödev Teslimleri
                                        </div>
                                        <div class="row no-gutters align-items-center">
                                            <div id="submissionCount" class="h5 mb-0 font-weight-bold text-gray-800">6</div>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>




@section Scripts {

    <script>
        $(document).ready(function(){

            if (!token || !userRoles.includes("Admin")) {
                location.href = '/Home/Login';
            }
            $.ajaxSetup({
                headers: { 'Authorization': 'Bearer ' + token }
            });
            $.ajax({
                url: apiUrl+"User/Count",
                method: 'GET',
                
                success: function(data){
                 console.log("count: ",data)
                 $("#studentCount").text(data.studentCount);
                 $("#teacherCount").text(data.teacherCount);
                 $("#adminCount").text(data.adminCount);
                 $("#homeworkCount").text(data.homeworkCount);
                 $("#submissionCount").text(data.submissionCount);


                },
                error:function(xhr,status,error){
                console.error("Hata oluştu. ",error);
                }
            });

        });
    </script>

}